a.plain{
    text-decoration: none !important;
}

a.plain:hover{
    color: green !important;
}
nav div div a:hover{
    transform: scale(1.05);
    cursor: pointer;
}
nav div div {
    text-align: center;
}

#topNav{
    background-color: blueviolet; 
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 0 px !important;   
}
#logo{
    background-color: rgb(255, 127, 223);
    font-size: 3vw;
}
#userProfile{
    position: relative;
    font-size: 1.3vw;
    text-align: center;
}
#login{
    background-color: aqua;
}
#searchBar{
    border: none;
    background-color: #3AAFA9;
}
#searchButton{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#wishlist{
    font-size:20px;
}
#cart{
    font-size: 20px;
}